html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-size: cover;
}

#canvas {
  width: 100%;
  height: 100%;
}

.check-fonts {
  position: absolute;
  opacity: 0;
  font-family: 'robotoblack';
}

.check-font-1 {
  font-family: 'robotoblack';
}
